{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>
    <hr>
    <p>Fill in this form to contact the site owners</p>

    <form action="{{ url_for('contact') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.fullname.label }} <span class="required">(Required)</span>
            <p>Please enter your full name</p>
            {{ form.fullname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}  <span class="required">(Required)</span>
            <p>Please enter your email</p>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subject.label }}  <span class="required">(Required)</span>
            <p>Please enter the subject for your message</p>
            {{ form.subject(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.message.label }}  <span class="required">(Required)</span>
            <p>Please enter the message you would like to send</p>
            {{ form.message(class="form-control") }}
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}